@charset "UTF-8";

        .back{
            float: right;
        }

        body{
            width: 1100px;
            background-color: #e4e4e4;
        }

        .full{
            display: flex;
            flex-direction: row;
            width: 1100px;
        }
        .side1{
            width: 300px;
            background-color: rgb(60, 85, 156);
            color: white;
        }
        .side1_1{
        	display: flex;
            flex-direction: row;
        }
        .step{
        	flex-grow: 1;
        	display: flex;
        	justify-content: center;
        }
        .keep{
        	background-color: rgb(45 65 122);
        	flex-grow: 1;
        	display: flex;
        	justify-content: center;
        }
        .side2{
            width: 800px;
            background-color: white;
            padding: 20px;
        }
        .one_re, .two_re, .three_re, .four_re{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .ones, .twos, .threes, .fours{
            padding: 10px;
        }
        
        .fives{
        	padding: 10px;
        	color: rgb(60, 85, 156);
        	background-color: white;
        }

         .color{
            display: flex;
            flex-direction: row;
            background-color: rgb(60, 85, 156);
            margin-top: 10px;
    		margin-bottom: 10px;
    		color: white;
    		text-align : center;    
        }
        .color1{
            flex-grow: 1;
        }
        .color2{
            flex-grow: 1;
        }
        .color3{
            flex-grow: 1;
        }

        .period{
            display: flex;
            flex-direction: row; 
        }
        
        .box{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10px;
		    margin-bottom: 10px;
		    background-color: #efefef;
		    padding: 25px;
        }
        
        .box_one{
        	margin-right: 27px;
        }
        .box_three{
        	margin-top: 20px;
        }
        
        .ta{
        	margin-top: 15px;
    		margin-bottom: 15px;
        }
        
        .go{
        	margin-bottom: 15px;
        	font-size: 10pt;
    		color: blue;
        }
        .go1{
        	font-size: 10pt;
    		color: blue; 
        }
        .go2{
        	margin-bottom: 15px;
        	font-size: 10pt;
    		color: blue;  
        }
        .go3{
        	margin-top: 15px;
        	margin-bottom: 15px;
        	font-size: 10pt;
    		color: red; 
        }
        
        .title{
        	margin-bottom:10px;
        }
        
        
        
        .btnyes{
        	margin-top: 10px;
        }
        .checkform{
        	padding: 15px;
    		background-color: #efefef;
    		margin-top: 15px;
    		margin-bottom: 15px;
        }
        .dive{
        	width: 100%;
        
        }
        
        .line{
            border-bottom: 2px solid #efefef;
            margin-bottom: 10px;
    		margin-top: 10px;
        }
        
        .bgo1{
        	font-size: 10pt; 
        }
        .btn {
		    display: block;
		    width: 90px;
		    height: 21px;
		    background: white;
		    padding: 10px;
		    text-align: center;
		    border-radius: 5px;
		    margin-right: 10px;
		    margin-left: 10px;
		    font-size: 14px;
		}
		
		.checkform1{
        	padding: 15px;
    		background-color: #efefef;
    		margin-bottom: 15px;
    		display: flex;
            flex-direction: row;
        }
        
     
        #block{
        	margin: 10px;
        	display: none;
        	
        }
        
        .btnfree{
        	outline: none;
        	border:none;
        	background-color:transparent;
        	color:white;
        	padding: 10px;
    		font-size: 12pt
        }
        
        .keepred{
        	color:red;
        	margin-top: 10px;	
        }
        .keepmar{
        	margin-top: 10px;
        }
        .keepmar span, .yel{
        	color: yellow;
        }
        
        
        
        
/* 표 */        
.tg  {border-collapse:collapse;border-spacing:0;width:100%;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}        
        
        
        
        
        
